<% @trips.each do |trip| %>
	<div class="panel">
		<h3><%= link_to trip.name, trip %></h3>
		<p><%= trip.description %></p>
		<p><%= link_to "Edit", edit_trip_path(trip) %>
		<%= link_to "Delete", trip, method: :delete, data: { confirm: "Are you sure?" } %></p>
	</div>
<% end %>