<h3><%= @post.title %></h3>
<hr>
<p><%= @post.story %></p>
<br>

<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
<br>
<%= button_to "Delete", @post, method: :delete, class: "btn btn-default" %>