body {
	background-color: #051647;
}

h1 {
	color: white;
}


nav {
	background-color: #FF5830;
}


a:hover {
	color: #FF5830;
}

.formbox {
	margin: 0 auto;
	margin-bottom: 42px;
	width: 400px;
	background-color: white;
	padding: 20px;
	padding-top: 0px;
	border: 5px solid #FF5830;
}

.pull-right {
	color: white;
}

.container {
	background-color: white;
}

.btn {
	color: white;
	background-color: #FF5830;
}

.box {
	color: white;
	background-color: #051647;
	padding-top: 15px;
	margin: -15px;
	margin-top: 20px;
	height: 300px;
	text-align: center;
}

.alert {
	background-color: #FF5830;
	color: white;
}

.landscape {
	margin-left: -15px;
}

.navbar {
	color: white;
	background-color: #FF5830;
}