<% content_for :top_content do %>
	<div class="container">
	<img src="http://i26.photobucket.com/albums/c131/axotlstar/BORDlogo.png" border="0" alt=" photo BORDlogo.png"/>
		<div class="box">
			<h1>On the road again?</h1>
			<h2>Let BORD do some heavy lifting.</h2>
			<p> Sign up below and get booking!</p>
			<p>
				<%= link_to 'Register Artist', new_artist_registration_path, class: 'btn' %>
				<%= link_to 'Register Host', new_host_registration_path, class: 'btn' %>
			</p>
		</div>
	</div>
<% end %>