<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
	<h1>Memory reminder for <%= @child.child_first_name %></h1>
	<p><%= @memory.memory_description %> happened on <%= @memory.memory_date.strftime("%B %d, %Y") %></p>
	<br><br>
	<p>Thanks for using ReMemories</p>
</body>
</html>