<div class="row">
	<div class="headline col s12">
	<div class="headline z-depth-4">
		<h1 class="center">ReMemories</h1>
	</div>
		<div class="description z-depth-4">
			<h3>ReMemories is a resource for parents to use to remind themselves of some of those "smaller" milestones and receive an email on the anniversary of the date it happened.
			<h3>As a new parent, I find myself not being able to recall exactly when my daughter hit some of her milestones, like her first steps, first time she slept through the night or even something as goofy as growling like a lion.</h3>
			</h3>
		</div>
	</div>
</div>