
$border-radius-base: 0;
$nav-link-hover-bg: transparent;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "images";
@import "posts";
@import "trips";
@import url(https://fonts.googleapis.com/css?family=Lato);

 .jumbotron {
	background-image: url(/assets/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 88%;
    color: #3699CA;
    padding-left: 10px;
    margin-bottom: 0px;
 }

 body {
 	font-family: 'Lato', sans-serif;
 }

 .col-centered {
 	float: none;
 	margin: 0 auto;
 }

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.tripit-header-navbar {
	background-color: #FFBB55;
	border-color: #FFBB55;
}

.panel-default > .trip-panel-header {
	background-color: #fcdc9c;
	border-color: #fcdc9c;
}

.panel-default > .trip-page-header {
	background-color: #fcdc9c;
	border-color: #fcdc9c;
}
