/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require materialize.min
 *= require_self
 */

body {
	background-color: #E0D9D9;
}

.flash_error {
	background-color: #EA4E4E;
}
.flash_error h3 {
  font-size: 25px;
}
.flash_notice {
	background-color: #4DB14B;
  font-size: 25px;
}

button a {
	color: #FFFFFF;
}

.child_gender_Male {
	background-color: #89cff0; 
}

.child_gender_Female {
	background-color: #F4C2C2;
}