$border-radius-base: 0;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "images";
@import "posts";
@import "trips";
@import url(https://fonts.googleapis.com/css?family=Lato);

 .jumbotron {
	background-image: url(/assets/background.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 88%;
    color: #3699CA;
    padding-left: 10px;
    margin-bottom: 0px;
 }

 body {
 	font-family: 'Lato', sans-serif;
 }


