<h3>Image Gallery</h3>
<hr>
<% @images.in_groups_of(2, false).each do |images| %>
	<div class="row">
		<% images.each do |image| %>
			<div class="col-xs-12 col-sm-6">
				<%= link_to image.title, image_path(image) %>
				<p><%= image_tag image.attachment.url(:medium) %></p>	
			</div>
		<% end %>
	</div>
	<hr>
<% end %>